{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAPI Valyx API",
    "description": "To demonstrate features in the Valyx",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.valyx.com"
    }
  ],
  "security": [
    {
      "bearerAuth": ["demo-api"]
    }
  ],
  "paths": {
    "/billing/billingReport/email/preview/{billing_report_id}": {
      "parameters": [
        {
          "name": "billing_report_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportEmailPreviewResponse"
                }
              }
            }
          }
        },
        "operationId": "get_billing_report_email_preview",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponentTag": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentTagResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_fee_component_tag",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddTagValueRequestModel"
        },
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/email/send": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_billing_report_email_send",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingReportSendEmailRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/fetch/{billing_report_id}": {
      "parameters": [
        {
          "name": "billing_report_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_billing_report",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_billing_report_filter",
        "parameters": [
          {
            "name": "billId",
            "in": "query",
            "description": "Bill ID associated with the billing report",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "description": "Contract number associated with the billing report",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billAmountStart",
            "in": "query",
            "description": "Min limit filter for the total bill amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "billAmountEnd",
            "in": "query",
            "description": "Max limit filter for the total bill amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/generate/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReport"
                }
              }
            }
          }
        },
        "operationId": "post_generate_billing_report",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingReportGenerationRequest"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/unbilled/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReport"
                }
              }
            }
          }
        },
        "operationId": "get_get_unbilled_amount",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/verdictUpdate": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerdictUpdateResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_billing_report_verdict_update",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerdictUpdate"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/cancel/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "post_cancel_contract",
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_contract_fee_component",
        "requestBody": {
          "$ref": "#/components/requestBodies/FeeComponentToContractRequestModel"
        },
        "security": [
          {
            "X-Valyx-Signature": []
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_contract_fee_component",
        "requestBody": {
          "$ref": "#/components/requestBodies/FeeComponentToContractRequestModel"
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/includeUsage": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_contract_fee_component_include_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeComponentIncludeUsageRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/ratecard": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractRateCardRelationshipListResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_contract_rate_card_relations",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/ratecard/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_contract_rate_card_relations",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractRateCardBulkUpsertionRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractFeeComponentResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_contract_fee_components",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/fetch/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_contract",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_filtered_contracts",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buyerId",
            "in": "query",
            "description": "Buyer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractDurationValue",
            "in": "query",
            "description": "Value of the contract duration (if contract duration is 3 years, value will be 3)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contractDurationUnit",
            "in": "query",
            "description": "Unit of the contract duration (if contract duration is 3 years, unit will be YEAR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billingFrequencyValue",
            "in": "query",
            "description": "Value of the billing frequency (if billing frequency is 2 months, value will be 2)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "billingFrequencyUnit",
            "in": "query",
            "description": "Unit of the billing frequency (if billing frequency is 2 months, unit will be MONTH)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextBillingDateStart",
            "in": "query",
            "description": "Start date of the next billing date filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextBillingDateEnd",
            "in": "query",
            "description": "End date of the next billing date filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "DRAFT",
                "CANCELLED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/update/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContractAPIRequestModelResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_contract",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractAPIRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_fee_component",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/delete/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_delete_fee_component",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/driver": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponent"
                }
              }
            }
          }
        },
        "operationId": "post_bulk_upsert_fee_component_driver_relation",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBulkFeeComponentUsageDriverRelationshipQueryModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/driver/fetch/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeeComponentUsageDriverRelationship"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_fetch_fee_component_driver_relations",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_filter_fee_component",
        "parameters": [
          {
            "name": "updatedDateFrom",
            "in": "query",
            "description": "Starting date for Fee Component Update",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updatedDateTo",
            "in": "query",
            "description": "Ending date for Fee Component Update",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Fee Component SKU",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the fee component",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "hsnCode",
            "in": "query",
            "description": "HSN or SAC Code",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "lastModifiedBy",
            "in": "query",
            "description": "Last modified by",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/update/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_fee_component",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_fee_component",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponentTag/fetch/feeComponent/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentTagListResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_fee_component_tag",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_rate_card",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRateCardRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/delete/{ratecard_id}": {
      "parameters": [
        {
          "name": "ratecard_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkRateCardDefaultRequestModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/feeComponent/fetch/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchRateCardsResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_all_rate_card",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "description": "If passed will return all the ratecards available for a contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showEmptyCombinations",
            "in": "query",
            "description": "If false will return only the combinations of tags that have at least one ratecard",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/markDefault": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_mark_default_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkRateCardDefaultRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/test": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_test_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestRateCardRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/update/{ratecard_id}": {
      "parameters": [
        {
          "name": "ratecard_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRateCardRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/{rate_card_id}": {
      "parameters": [
        {
          "name": "rate_card_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCard"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageAdditionResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_usage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usage/delete/{event_id}": {
      "parameters": [
        {
          "name": "event_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/fetch/{event_id}": {
      "parameters": [
        {
          "name": "event_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_usage_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/grouped/feeComponent/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_grouped_usage_fc_wise_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/grouped/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_grouped_usage_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/update/{usage_id}": {
      "parameters": [
        {
          "name": "usage_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUsageRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_usage_driver",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageDriverQueryModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/delete/{usage_driver_id}": {
      "parameters": [
        {
          "name": "usage_driver_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_usage_driver",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/filter": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        },
        "operationId": "get_filter_usage_driver",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/update/{usage_driver_id}": {
      "parameters": [
        {
          "name": "usage_driver_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_usage_driver",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUsageDriverQueryModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/external/bankAccountTransaction/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Search bank account transactions based on passed search parameters",
        "operationId": "get_bank_account_transaction_search",
        "parameters": [
          {
            "name": "bankAccountIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categories",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value date for the bank account transaction (BAT). Please input in YYYY-MM-DD format. Will fetch BATs with value date on or after this date."
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value date for the bank account transaction (BAT). Please input in YYYY-MM-DD format. Will fetch BATs with value date on or before this date."
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Page size for pagination."
          },
          {
            "name": "narration",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAtStart",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Date on which this bank account transaction was created in Valyx. Please input in YYYY-MM-DD format. Will fetch BATs created in Valyx on or after this date."
          },
          {
            "name": "createdAtEnd",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Date on which this bank account transaction was created in Valyx. Please input in YYYY-MM-DD format. Will fetch BATs created in Valyx on or before this date."
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Currencies"
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key"
          }
        ],
        "tags": [
          "external"
        ]
      }
    },
    "/external/creditNotes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Handles GET requests for the /creditNotes route",
        "description": "Authenticates the request and retrieves credit note data for a specified company, applying filters and pagination as specified in the request parameters. Returns: Tuple containing: - A dictionary with the fetched credit notes and pagination details. - HTTP status code 200.",
        "operationId": "get_credit_note_routes",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fetch credit notes created on or after this date"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fetch credit notes created on or before this date"
          },
          {
            "name": "minAmount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Fetch credit notes with total amount >= this amount"
          },
          {
            "name": "maxAmount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Fetch credit notes with total amount <= this amount"
          },
          {
            "name": "creditNoteNumber",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exact credit note numbers to search for"
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Invoice number reference against which credit note was created"
          },
          {
            "name": "customerId",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Fetch credit notes only for these customers"
          },
          {
            "name": "ownerId",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Fetch credit notes only for these internal stakeholders"
          },
          {
            "name": "type",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Fetch credit notes which are of these types"
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Fetch credit notes which are of these status"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page size for pagination."
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Currencies"
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for fetching ledger entries"
          }
        ],
        "tags": [
          "external"
        ]
      }
    },
    "/external/creditNotes/upsert": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "post_credit_note_upsert_routes",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for fetching ledger entries"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditNotesExternalAPIQueryModel"
              }
            }
          }
        },
        "tags": [
          "external"
        ]
      }
    },
    "/external/customer": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Create customer with its tags, internal stakeholders and contacts",
        "operationId": "post_customer_create_route",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for creating customers"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalCustomer"
              }
            }
          }
        },
        "tags": [
          "external"
        ]
      }
    },
    "/external/customer/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailExternalApiResponseResponseModel"
                }
              }
            }
          }
        },
        "summary": "Search customers based on passed search parameters",
        "operationId": "get_customer_search",
        "parameters": [
          {
            "name": "amountType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "GSTIN",
                "PAN",
                "BUYER_ID",
                "CUSTOMER_NAME"
              ]
            }
          },
          {
            "name": "identifierValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "invoiceStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "OVERDUE",
                "DUE",
                "NO_DUES",
                "VOID"
              ]
            },
            "description": "list of invoice statuses to filter by"
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "PAID",
                "UNPAID",
                "PARTIALLY_PAID"
              ]
            },
            "description": "list of payment statuses to filter by"
          },
          {
            "name": "customerStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "PROSPECT",
                "LIVE",
                "CHURNED",
                "INACTIVE"
              ]
            },
            "description": "list of customer statuses to filter by"
          },
          {
            "name": "tag",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "list of tag key-value pair to filter by"
          },
          {
            "name": "excludeTag",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "list of tag key-value pair to filter by (exclude)"
          },
          {
            "name": "excludeTagKey",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "list of tag key to filter by (exclude)"
          },
          {
            "name": "ownerId",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "owner ID to search by"
          },
          {
            "name": "ownerRole",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "owner role to search by"
          },
          {
            "name": "notOwnerRole",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "not owner role to search by"
          },
          {
            "name": "contactRole",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "contact role to search by"
          },
          {
            "name": "notContactRole",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "not contact role to search by"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Page size for pagination."
          },
          {
            "name": "dateType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "INVOICE_DATE",
                "DUE_DATE",
                "PROMISE_TO_PAY_DATE"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start date for invoices"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "End date for invoices"
          },
          {
            "name": "createdAtStart",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Customer creation date start - will return customers created on or after this date. Pass as YYYY-MM-DD string"
          },
          {
            "name": "createdAtEnd",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Customer creation date end - will return customers created on or before this date. Pass as YYYY-MM-DD string"
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Currencies"
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key"
          },
          {
            "name": "X-Fields",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "mask"
            },
            "description": "An optional fields mask"
          }
        ],
        "tags": [
          "external"
        ]
      }
    },
    "/external/customer/{buyer_id}": {
      "parameters": [
        {
          "name": "buyer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Update customer with its tags, internal stakeholders and contacts",
        "operationId": "post_customer_update_route",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for creating customers"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalCustomer"
              }
            }
          }
        },
        "tags": [
          "external"
        ]
      }
    },
    "/external/invoice/upsert": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "post_invoice_upsert_routes",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for fetching ledger entries"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoice"
              }
            }
          }
        },
        "tags": [
          "external"
        ]
      }
    },
    "/external/invoices": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Handles GET requests for the /invoices route",
        "description": "Authenticates the request and retrieves invoice data for a specified company, applying filters and pagination as specified in the request parameters. Returns: Tuple containing: - A dictionary with the fetched invoices and pagination details. - HTTP status code 200.",
        "operationId": "get_invoice_routes",
        "parameters": [
          {
            "name": "invoiceStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "OVERDUE",
                "DUE",
                "NO_DUES",
                "VOID"
              ]
            },
            "description": "list of invoice statuses to filter by"
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "PAID",
                "UNPAID",
                "PARTIALLY_PAID"
              ]
            },
            "description": "list of payment statuses to filter by"
          },
          {
            "name": "invoiceAcceptanceStatus",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "PENDING",
                "ACCEPTED",
                "REJECTED"
              ]
            },
            "description": "list of invoice acceptance statuses to filter by"
          },
          {
            "name": "tag",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "list of tag key-value pair to filter by"
          },
          {
            "name": "customerIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "List of customer IDs"
          },
          {
            "name": "ownerIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "List of owner IDs"
          },
          {
            "name": "buyerIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of buyer IDs"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "invoiceDate",
                "-invoiceDate"
              ]
            },
            "description": "Invoices support sorting by invoice date. Passing 'invoiceDate' sorts ascending. To reverse the order, prefix with a hyphen."
          },
          {
            "name": "amountType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "TOTAL",
                "OUTSTANDING",
                "PAID",
                "ADJUSTED"
              ]
            },
            "description": "Amount type filter"
          },
          {
            "name": "amountMin",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Minimum amount of the invoice amount type"
          },
          {
            "name": "amountMax",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum amount of the invoice amount type"
          },
          {
            "name": "dateType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "INVOICE_DATE",
                "DUE_DATE",
                "PROMISE_TO_PAY_DATE"
              ]
            },
            "description": "DateType type filter"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "start date of the invoice for date type"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "end date of the invoice for date type"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "page number of result to be fetched"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "number of entries per page"
          },
          {
            "name": "onlyFetchNonZero",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "should return invoices that have non zero amount type"
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "invoice number"
          },
          {
            "name": "internalInvoiceIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "invoice ids"
          },
          {
            "name": "hasAttachment",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "should return invoices that have attachments (true/false)"
          },
          {
            "name": "attachmentPurpose",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "INVOICE_FOR_BUYER",
                "INVOICE_SUPPORTING",
                "PURCHASE_ORDER",
                "SALES_ORDER",
                "DELIVERY_DOCUMENT",
                "PAYMENT_PROOF",
                "DISPUTE",
                "DISPUTE_RESOLUTION",
                "ENQUIRY",
                "ENQUIRY_RESOLUTION",
                "TAX_DOCUMENT",
                "COMMERCIAL_AGREEMENT",
                "COMMERCIAL_AGREEMENT_SUPPORTING",
                "LEGAL",
                "GENERAL",
                "CREDITNOTE_FOR_BUYER",
                "CREDITNOTE_SUPPORTING",
                "TICKET",
                "USAGE_ESTIMATE",
                "MAIL_ATTACHMENT"
              ]
            },
            "description": "attachment purpose to search by (based on hasAttachment)"
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Currencies"
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Auth key for fetching ledger entries"
          }
        ],
        "tags": [
          "external"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "billing",
      "description": "External Billing APIs"
    }
  ],
  "components": {
    "responses": {
      "ParseError": {
        "description": "When a mask can't be parsed"
      },
      "MaskError": {
        "description": "When any error occurs on mask"
      }
    },
    "requestBodies": {
      "FeeComponentToContractRequestModel": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeeComponentToContractRequestModel"
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "ValyxSignature": {
        "type": "apiKey",
        "name": "X-Valyx-Signature",
        "in": "header",
        "description": "Auth key for fetching ledger entries"
      }
    },
    "schemas": {
      "CreateUsageDriverQueryModel": {
        "required": ["name", "description", "unit"],
        "properties": {
          "name": {
            "type": "string",
            "description": "A unique name identifying the usage driver."
          },
          "description": {
            "type": "string",
            "description": "Detailed explanation of what this usage driver measures or tracks."
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for this usage driver (e.g., count, GB, minutes)."
          },
          "productId": {
            "type": "string",
            "description": "Optional: ID of the product this usage driver is associated with, if any."
          }
        },
        "type": "object"
      },
      "UsageDriverResponseModel": {
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message, if any. Null if the request was successful."
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the result of the operation."
          },
          "data": {
            "$ref": "#/components/schemas/UsageDriverResponseData"
          }
        },
        "type": "object"
      },
      "UsageDriverResponseData": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the added/created object."
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel_Request": {
        "properties": {
          "updates": {
            "$ref": "#/components/schemas/UpdateUsageDriverQueryModel_FieldsUpdateModel"
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel_FieldsUpdateModel": {
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Fields to update"
            }
          },
          "values": {
            "$ref": "#/components/schemas/UpdateUsageDriverQueryModel"
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel": {
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "description": {
            "type": "string",
            "description": "description"
          },
          "productId": {
            "type": "string",
            "description": "productId"
          },
          "unit": {
            "type": "string",
            "description": "unit"
          }
        },
        "type": "object"
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message, if any occurred while fetching the paginated data. Null if the request was successful."
          },
          "message": {
            "type": "string",
            "description": "Informational message regarding the response."
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedResponseData"
          }
        }
      },
      "PaginatedResponseData": {
        "type": "object",
        "required": [
          "hasNext",
          "hasPrev",
          "pageNumber",
          "pageSize",
          "totalDocs",
          "totalPages"
        ],
        "properties": {
          "totalDocs": {
            "type": "integer",
            "description": "Total number of documents/items available across all pages."
          },
          "docs": {
            "type": "array",
            "description": "Array of items on the current page.",
            "items": {
              "type": "object",
              "description": "Individual document/item in the paginated result."
            }
          },
          "hasNext": {
            "type": "boolean",
            "description": "True if there is a next page available."
          },
          "hasPrev": {
            "type": "boolean",
            "description": "True if there is a previous page available."
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number (1-indexed)."
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page."
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available."
          },
          "prevPageNumber": {
            "type": "integer",
            "description": "Page number of the previous page. Null if current page is the first page."
          },
          "nextPageNumber": {
            "type": "integer",
            "description": "Page number of the next page. Null if current page is the last page."
          }
        }
      },
      "CreateFeeComponentAPIRequestModel": {
        "type": "object",
        "required": ["name", "taxRate"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The unique name of the fee component."
          },
          "taxRate": {
            "type": "array",
            "description": "List of taxes applicable to this fee component. Each tax includes its name, value, and category.",
            "items": {
              "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeltaxRate"
            }
          },
          "hsnOrSacCode": {
            "type": "string",
            "description": "HSN (Harmonized System of Nomenclature) code or SAC (Service Accounting Code) for GST classification."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit (SKU) – a unique identifier for the product or service. Useful for inventory or internal tracking."
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for this fee component (e.g., 'GB', 'Hour', 'User'). Used when calculating usage-based charges."
          },
          "description": {
            "type": "string",
            "description": "Optional detailed description of the fee component."
          },
          "billLimit": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelbillingReportLimit",
            "description": "Optional limits for billing this component, e.g., min/max values or usage-based tiers."
          },
          "driverUpsertRequest": {
            "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeldriverUpsertRequest",
            "description": "Optional usage driver relationships, defining how different usage drivers contribute to this fee component's calculations."
          }
        }
      },
      "CreateFeeComponentAPIRequestModeltaxRate": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the tax, e.g., 'GST', 'CESS', or 'Service Tax'."
          },
          "value": {
            "type": "number",
            "description": "The percentage value of the tax (e.g., 18 for 18%)."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this tax is currently active. Defaults to true.",
            "default": true
          },
          "taxCategory": {
            "type": "string",
            "description": "The category of the tax. Helps classify taxes for reporting and compliance.",
            "example": "GST",
            "enum": ["GST", "CESS", "SERVICE", "TDS", "OTHER"]
          }
        }
      },
      "CreateFeeComponentAPIRequestModeldriverUpsertRequest": {
        "type": "object",
        "properties": {
          "upsertRequests": {
            "type": "array",
            "description": "List of usage driver relationships. Each entry defines a usage driver and its weight in calculating the fee.",
            "items": {
              "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests"
            }
          }
        }
      },
      "CreateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests": {
        "type": "object",
        "required": ["usageDriverId", "weight"],
        "properties": {
          "usageDriverId": {
            "type": "string",
            "description": "The unique identifier of the usage driver, e.g., 'API_CALLS', 'STORAGE_GB'."
          },
          "weight": {
            "type": "number",
            "description": "The factor by which the usage driver contributes to this fee component. For example, 1.5 means 150% of the usage is charged."
          }
        }
      },
      "FeeComponentResponseModel": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message if the operation failed. Null if the operation was successful."
          },
          "message": {
            "type": "string",
            "description": "Informational message about the result of the operation."
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the created fee component."
              }
            },
[...]
