{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAPI Valyx API",
    "description": "To demonstrate features in the Valyx",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.valyx.com"
    }
  ],
  "security": [
    {
      "bearerAuth": ["demo-api"]
    }
  ],
  "paths": {
    "/billing/feeComponentTag": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FeeComponentTagResponseModel"
            }
          }
        },
        "operationId": "post_create_fee_component_tag",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Auth key for fetching ledger entries"
          },
          {
            "name": "payload",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddTagValueRequestModel"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "type": "string",
            "format": "mask",
            "description": "An optional fields mask"
          }
        ],
        "tags": [
          "billing"
        ]
      }
    },
    "/billing/feeComponentTag/fetch/feeComponent/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_fee_component_tag",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Auth key for fetching ledger entries"
          }
        ],
        "tags": [
          "billing"
        ]
      }
    },
    "/billing/billingReport/email/preview/{billing_report_id}": {
      "parameters": [
        {
          "name": "billing_report_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportEmailPreviewResponse"
                }
              }
            }
          }
        },
        "operationId": "get_billing_report_email_preview",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/email/send": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_billing_report_email_send",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingReportSendEmailRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/fetch/{billing_report_id}": {
      "parameters": [
        {
          "name": "billing_report_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReportResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_billing_report",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_billing_report_filter",
        "parameters": [
          {
            "name": "billId",
            "in": "query",
            "description": "Bill ID associated with the billing report",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "description": "Contract number associated with the billing report",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billAmountStart",
            "in": "query",
            "description": "Min limit filter for the total bill amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "billAmountEnd",
            "in": "query",
            "description": "Max limit filter for the total bill amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/generate/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReport"
                }
              }
            }
          }
        },
        "operationId": "post_generate_billing_report",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingReportGenerationRequest"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/unbilled/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingReport"
                }
              }
            }
          }
        },
        "operationId": "get_get_unbilled_amount",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/billingReport/verdictUpdate": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerdictUpdateResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_billing_report_verdict_update",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerdictUpdate"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/cancel/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "post_cancel_contract",
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_contract_fee_component",
        "requestBody": {
          "$ref": "#/components/requestBodies/FeeComponentToContractRequestModel"
        },
        "security": [
          {
            "X-Valyx-Signature": []
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_contract_fee_component",
        "requestBody": {
          "$ref": "#/components/requestBodies/FeeComponentToContractRequestModel"
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/includeUsage": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_contract_fee_component_include_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeComponentIncludeUsageRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/ratecard": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_contract_rate_card_relations",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/ratecard/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_contract_rate_card_relations",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractRateCardBulkUpsertionRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/contract/feeComponent/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_contract_fee_components",
        "tags": ["billing"]
      }
    },
    "/billing/contract/fetch/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_contract",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_filtered_contracts",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractDurationValue",
            "in": "query",
            "description": "Value of the contract duration (if contract duration is 3 years, value will be 3)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contractDurationUnit",
            "in": "query",
            "description": "Unit of the contract duration (if contract duration is 3 years, unit will be YEAR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billingFrequencyValue",
            "in": "query",
            "description": "Value of the billing frequency (if billing frequency is 2 months, value will be 2)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "billingFrequencyUnit",
            "in": "query",
            "description": "Unit of the billing frequency (if billing frequency is 2 months, unit will be MONTH)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextBillingDateStart",
            "in": "query",
            "description": "Start date of the next billing date filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextBillingDateEnd",
            "in": "query",
            "description": "End date of the next billing date filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "DRAFT", "CANCELLED", "EXPIRED"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/contract/update/{contract_id}": {
      "parameters": [
        {
          "name": "contract_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContractAPIRequestModelResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_contract",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractAPIRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_fee_component",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/delete/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_delete_fee_component",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/driver": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponent"
                }
              }
            }
          }
        },
        "operationId": "post_bulk_upsert_fee_component_driver_relation",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBulkFeeComponentUsageDriverRelationshipQueryModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/driver/fetch/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeeComponentUsageDriverRelationship"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_fetch_fee_component_driver_relations",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_filter_fee_component",
        "parameters": [
          {
            "name": "updatedDateFrom",
            "in": "query",
            "description": "Starting date for Fee Component Update",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updatedDateTo",
            "in": "query",
            "description": "Ending date for Fee Component Update",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Fee Component SKU",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the fee component",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "hsnCode",
            "in": "query",
            "description": "HSN or SAC Code",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "lastModifiedBy",
            "in": "query",
            "description": "Last modified by",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/update/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_fee_component",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/feeComponent/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeComponentResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_fee_component",
        "parameters": [
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_create_rate_card",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRateCardRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/delete/{ratecard_id}": {
      "parameters": [
        {
          "name": "ratecard_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkRateCardDefaultRequestModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/feeComponent/fetch/{fee_component_id}": {
      "parameters": [
        {
          "name": "fee_component_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchRateCardsResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_all_rate_card",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "description": "If passed will return all the ratecards available for a contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showEmptyCombinations",
            "in": "query",
            "description": "If false will return only the combinations of tags that have at least one ratecard",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/markDefault": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_mark_default_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkRateCardDefaultRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/test": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_test_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestRateCardRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/update/{ratecard_id}": {
      "parameters": [
        {
          "name": "ratecard_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCardResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRateCardRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/ratecard/{rate_card_id}": {
      "parameters": [
        {
          "name": "rate_card_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCard"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_rate_card",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageAdditionResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_usage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageAPIRequestModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usage/delete/{event_id}": {
      "parameters": [
        {
          "name": "event_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/fetch/{event_id}": {
      "parameters": [
        {
          "name": "event_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "get_fetch_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_usage_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/grouped/feeComponent/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_grouped_usage_fc_wise_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/grouped/filter": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "get_fetch_grouped_usage_filters",
        "parameters": [
          {
            "name": "transactionDateFrom",
            "in": "query",
            "required": true,
            "description": "From date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDateTo",
            "in": "query",
            "required": true,
            "description": "To date of filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageReferenceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feeComponentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUsageId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Valyx-Signature",
            "in": "header",
            "required": true,
            "description": "Auth key for fetching ledger entries",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usage/update/{usage_id}": {
      "parameters": [
        {
          "name": "usage_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_usage",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUsageRequestModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_add_usage_driver",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageDriverQueryModel"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/delete/{usage_driver_id}": {
      "parameters": [
        {
          "name": "usage_driver_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "delete_delete_usage_driver",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/filter": {
      "parameters": [
        {
          "name": "X-Valyx-Signature",
          "in": "header",
          "required": true,
          "description": "Auth key to authenticate the request",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        },
        "operationId": "get_filter_usage_driver",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of the usage driver",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["billing"]
      }
    },
    "/billing/usageDriver/update/{usage_driver_id}": {
      "parameters": [
        {
          "name": "usage_driver_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDriverResponseModel"
                }
              }
            }
          }
        },
        "operationId": "post_update_usage_driver",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string",
              "format": "mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUsageDriverQueryModel_Request"
              }
            }
          },
          "required": true
        },
        "tags": ["billing"]
      }
    }
  },
  "tags": [
    {
      "name": "billing",
      "description": "External Billing APIs"
    }
  ],
  "components": {
    "responses": {
      "ParseError": {
        "description": "When a mask can't be parsed"
      },
      "MaskError": {
        "description": "When any error occurs on mask"
      }
    },
    "requestBodies": {
      "FeeComponentToContractRequestModel": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FeeComponentToContractRequestModel"
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "ValyxSignature": {
        "type": "apiKey",
        "name": "X-Valyx-Signature",
        "in": "header",
        "description": "Auth key for fetching ledger entries"
      }
    },
    "schemas": {
    "AddTagValueRequestModel": {
      "required": [
        "feeComponentId",
        "name",
        "value"
      ],
      "properties": {
        "feeComponentId": {
          "type": "string",
          "description": "feeComponentId"
        },
        "name": {
          "type": "string",
          "description": "name"
        },
        "value": {
          "type": "string",
          "description": "value"
        }
      },
      "type": "object"
    },
    "FeeComponentTagResponseModel": {
      "properties": {
        "error": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/components/schemas/FeeComponentTagResponseData"
        }
      },
      "type": "object"
    },
    "FeeComponentTagResponseData": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
      "CreateUsageDriverQueryModel": {
        "required": ["name", "description", "unit"],
        "properties": {
          "name": {
            "type": "string",
            "description": "A unique name identifying the usage driver."
          },
          "description": {
            "type": "string",
            "description": "Detailed explanation of what this usage driver measures or tracks."
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for this usage driver (e.g., count, GB, minutes)."
          },
          "productId": {
            "type": "string",
            "description": "Optional: ID of the product this usage driver is associated with, if any."
          }
        },
        "type": "object"
      },
      "UsageDriverResponseModel": {
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message, if any. Null if the request was successful."
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the result of the operation."
          },
          "data": {
            "$ref": "#/components/schemas/UsageDriverResponseData"
          }
        },
        "type": "object"
      },
      "UsageDriverResponseData": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the added/created object."
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel_Request": {
        "properties": {
          "updates": {
            "$ref": "#/components/schemas/UpdateUsageDriverQueryModel_FieldsUpdateModel"
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel_FieldsUpdateModel": {
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Fields to update"
            }
          },
          "values": {
            "$ref": "#/components/schemas/UpdateUsageDriverQueryModel"
          }
        },
        "type": "object"
      },
      "UpdateUsageDriverQueryModel": {
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "description": {
            "type": "string",
            "description": "description"
          },
          "productId": {
            "type": "string",
            "description": "productId"
          },
          "unit": {
            "type": "string",
            "description": "unit"
          }
        },
        "type": "object"
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message, if any occurred while fetching the paginated data. Null if the request was successful."
          },
          "message": {
            "type": "string",
            "description": "Informational message regarding the response."
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedResponseData"
          }
        }
      },
      "PaginatedResponseData": {
        "type": "object",
        "required": [
          "hasNext",
          "hasPrev",
          "pageNumber",
          "pageSize",
          "totalDocs",
          "totalPages"
        ],
        "properties": {
          "totalDocs": {
            "type": "integer",
            "description": "Total number of documents/items available across all pages."
          },
          "docs": {
            "type": "array",
            "description": "Array of items on the current page.",
            "items": {
              "type": "object",
              "description": "Individual document/item in the paginated result."
            }
          },
          "hasNext": {
            "type": "boolean",
            "description": "True if there is a next page available."
          },
          "hasPrev": {
            "type": "boolean",
            "description": "True if there is a previous page available."
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number (1-indexed)."
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page."
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available."
          },
          "prevPageNumber": {
            "type": "integer",
            "description": "Page number of the previous page. Null if current page is the first page."
          },
          "nextPageNumber": {
            "type": "integer",
            "description": "Page number of the next page. Null if current page is the last page."
          }
        }
      },
      "CreateFeeComponentAPIRequestModel": {
        "type": "object",
        "required": ["name", "taxRate"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The unique name of the fee component."
          },
          "taxRate": {
            "type": "array",
            "description": "List of taxes applicable to this fee component. Each tax includes its name, value, and category.",
            "items": {
              "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeltaxRate"
            }
          },
          "hsnOrSacCode": {
            "type": "string",
            "description": "HSN (Harmonized System of Nomenclature) code or SAC (Service Accounting Code) for GST classification."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit (SKU) – a unique identifier for the product or service. Useful for inventory or internal tracking."
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for this fee component (e.g., 'GB', 'Hour', 'User'). Used when calculating usage-based charges."
          },
          "description": {
            "type": "string",
            "description": "Optional detailed description of the fee component."
          },
          "billLimit": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelbillingReportLimit",
            "description": "Optional limits for billing this component, e.g., min/max values or usage-based tiers."
          },
          "driverUpsertRequest": {
            "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeldriverUpsertRequest",
            "description": "Optional usage driver relationships, defining how different usage drivers contribute to this fee component's calculations."
          }
        }
      },
      "CreateFeeComponentAPIRequestModeltaxRate": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the tax, e.g., 'GST', 'CESS', or 'Service Tax'."
          },
          "value": {
            "type": "number",
            "description": "The percentage value of the tax (e.g., 18 for 18%)."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this tax is currently active. Defaults to true.",
            "default": true
          },
          "taxCategory": {
            "type": "string",
            "description": "The category of the tax. Helps classify taxes for reporting and compliance.",
            "example": "GST",
            "enum": ["GST", "CESS", "SERVICE", "TDS", "OTHER"]
          }
        }
      },

      "CreateFeeComponentAPIRequestModeldriverUpsertRequest": {
        "type": "object",
        "properties": {
          "upsertRequests": {
            "type": "array",
            "description": "List of usage driver relationships. Each entry defines a usage driver and its weight in calculating the fee.",
            "items": {
              "$ref": "#/components/schemas/CreateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests"
            }
          }
        }
      },

      "CreateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests": {
        "type": "object",
        "required": ["usageDriverId", "weight"],
        "properties": {
          "usageDriverId": {
            "type": "string",
            "description": "The unique identifier of the usage driver, e.g., 'API_CALLS', 'STORAGE_GB'."
          },
          "weight": {
            "type": "number",
            "description": "The factor by which the usage driver contributes to this fee component. For example, 1.5 means 150% of the usage is charged."
          }
        }
      },
      "FeeComponentResponseModel": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message if the operation failed. Null if the operation was successful."
          },
          "message": {
            "type": "string",
            "description": "Informational message about the result of the operation."
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the created fee component."
              }
            },
            "required": ["id"]
          }
        },
        "required": ["error", "message", "data"]
      },
      "FeeComponentResponseModelDatafeeComponent": {
        "properties": {
          "id": {
            "type": "object"
          },
          "sku": {
            "type": "object"
          },
          "productId": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "description": {
            "type": "object"
          },
          "hsnOrSacCode": {
            "type": "object"
          },
          "taxRate": {
            "type": "object"
          },
          "status": {
            "type": "object"
          },
          "unit": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "updatedBy": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "FeeComponentResponseModelDatausageDrivers": {
        "properties": {
          "driverId": {
            "type": "string",
            "description": "driverId"
          },
          "driverName": {
            "type": "string",
            "description": "driverName"
          },
          "weight": {
            "type": "number",
            "description": "weight"
          },
          "unit": {
            "type": "string",
            "description": "unit"
          },
          "productId": {
            "type": "string",
            "description": "productId"
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModel_Request": {
        "properties": {
          "updates": {
            "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModel_FieldsUpdateModel"
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModel_FieldsUpdateModel": {
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Fields to update"
            }
          },
          "values": {
            "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModel"
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModel": {
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "unit": {
            "type": "string",
            "description": "unit"
          },
          "sku": {
            "type": "string",
            "description": "sku"
          },
          "hsnOrSacCode": {
            "type": "string",
            "description": "hsnOrSacCode"
          },
          "taxRate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModeltaxRate"
            }
          },
          "description": {
            "type": "string",
            "description": "description"
          },
          "driverUpsertRequest": {
            "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModeldriverUpsertRequest"
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModeltaxRate": {
        "required": ["name", "value"],
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "value": {
            "type": "number",
            "description": "value"
          },
          "isActive": {
            "type": "boolean",
            "description": "isActive",
            "default": true
          },
          "taxCategory": {
            "type": "string",
            "example": "GST",
            "enum": ["GST", "CESS", "SERVICE", "TDS", "OTHER"]
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModeldriverUpsertRequest": {
        "properties": {
          "upsertRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests"
            }
          }
        },
        "type": "object"
      },
      "UpdateFeeComponentAPIRequestModeldriverUpsertRequestupsertRequests": {
        "required": ["usageDriverId", "weight"],
        "properties": {
          "usageDriverId": {
            "type": "string",
            "description": "usageDriverId"
          },
          "weight": {
            "type": "number",
            "description": "weight"
          }
        },
        "type": "object"
      },
      "UpsertBulkFeeComponentUsageDriverRelationshipQueryModel": {
        "properties": {
          "upsertRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpsertBulkFeeComponentUsageDriverRelationshipQueryModelupsertRequests"
            }
          }
        },
        "type": "object"
      },
      "UpsertBulkFeeComponentUsageDriverRelationshipQueryModelupsertRequests": {
        "required": ["usageDriverId", "weight"],
        "properties": {
          "usageDriverId": {
            "type": "string",
            "description": "usageDriverId"
          },
          "weight": {
            "type": "number",
            "description": "weight"
          }
        },
        "type": "object"
      },
      "FeeComponent": {
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FeeComponentData"
          }
        },
        "type": "object"
      },
      "FeeComponentData": {
        "properties": {
          "id": {
            "type": "object"
          },
          "sku": {
            "type": "object"
          },
          "productId": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "description": {
            "type": "object"
          },
          "hsnOrSacCode": {
            "type": "object"
          },
          "taxRate": {
            "type": "object"
          },
          "status": {
            "type": "object"
          },
          "unit": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "updatedBy": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "FeeComponentUsageDriverRelationship": {
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FeeComponentUsageDriverRelationshipData"
          }
        },
        "type": "object"
      },
      "FeeComponentUsageDriverRelationshipData": {
        "properties": {
          "id": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "feeComponentId": {
            "type": "object"
          },
          "usageDriverId": {
            "type": "object"
          },
          "weight": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "status": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "CreateRateCardRequestModel": {
        "type": "object",
        "required": ["feeComponentId", "name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the rate card."
          },
          "description": {
            "$ref": "#/components/schemas/CreateRateCardRequestModelDescription",
            "description": "Pricing strategy details for the rate card, including billing scheme, tiers, and prorated settings."
          },
          "feeComponentId": {
            "type": "string",
            "description": "Identifier of the fee component associated with this rate card."
          },
          "currency": {
            "type": "string",
            "description": "Currency used for this rate card. Must be a valid ISO 4217 currency code. See: https://www.iso.org/iso-4217-currency-codes.html",
            "example": "INR"
          },
          "currencyId": {
            "type": "string",
            "description": "Optional currency identifier if multiple currencies are supported."
          },
          "tags": {
            "type": "object",
            "description": "Custom key-value tags for categorizing or labeling the rate card. Multiple key-value pairs can be added dynamically.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "ratecardDescription": {
            "type": "string",
            "description": "Detailed description of the rate card, visible to users. See: https://docs.valyx.com/api-reference/endpoint/ratecard#rate-card-description"
          },
          "contractId": {
            "type": "string",
            "description": "Optional associated contract ID for this rate card."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this rate card is the default for the company.",
            "default": false
          },
          "isTierSplitEnabled": {
            "type": "boolean",
            "description": "Indicates if tier-wise split pricing is enabled. Only valid for graduated billing schemes.",
            "default": false
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Optional start date of the rate card."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Optional end date of the rate card."
          },
          "fallBackRatecardId": {
            "type": "string",
            "description": "Required if the rate card has start or end dates; used as fallback for timed rate cards."
          }
        }
      },
      "CreateRateCardRequestModeldescription": {
        "type": "object",
        "description": "Defines the pricing strategy for this rate card, including billing scheme, tiers, and prorated behavior.",
        "properties": {
          "billingScheme": {
            "type": "string",
            "description": "The billing method applied to this rate card.",
            "example": "PER_UNIT",
            "enum": ["PER_UNIT", "VOLUME", "GRADUATED", "FIXED_RATE", "MINMAX"]
          },
          "tiers": {
            "type": "array",
            "description": "Optional tiered pricing structure. Only required for certain billing schemes like GRADUATED.",
            "items": {
              "$ref": "#/components/schemas/CreateRateCardRequestModeldescriptiontiers"
            },
            "example": [
              {
                "name": "Basic Tier",
                "upTo": 100,
                "unitPrice": 5.0,
                "flatPrice": 0.0,
                "isPercentage": false,
                "repeatTier": false
              },
              {
                "name": "Premium Tier",
                "upTo": 500,
                "unitPrice": 4.5,
                "flatPrice": 50.0,
                "isPercentage": false,
                "repeatTier": true
              }
            ]
          },
          "isProrated": {
            "type": "boolean",
            "description": "Indicates whether the pricing is prorated for partial periods.",
            "default": false
          }
        },
        "required": ["billingScheme"]
      },
      "CreateRateCardRequestModeldescriptiontiers": {
        "type": "object",
        "description": "Represents a single tier in a tiered pricing strategy.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name or label for this tier, e.g., 'Basic', 'Premium'."
          },
          "upTo": {
            "type": "number",
            "description": "The maximum quantity or usage for this tier."
          },
          "unitPrice": {
            "type": "number",
            "description": "Price per unit within this tier.",
            "default": 0
          },
          "flatPrice": {
            "type": "number",
            "description": "Fixed price added for this tier, regardless of units used.",
            "default": 0
          },
          "isPercentage": {
            "type": "boolean",
            "description": "Indicates whether the prices are in percentage rather than absolute amounts.",
            "default": false
          },
          "repeatTier": {
            "type": "boolean",
            "description": "If true, this tier is repeated indefinitely beyond 'upTo'.",
            "default": false
          }
        },
        "required": ["name", "upTo"]
      },
      "RateCardResponseModel": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message if the operation failed. Null if the operation was successful."
          },
          "message": {
            "type": "string",
            "description": "Informational message about the result of the operation."
          },
          "data": {
            "$ref": "#/components/schemas/RateCardResponseData",
            "description": "Data object containing the result of the operation."
          }
        }
      },
      "RateCardResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the created or updated rate card."
          }
        }
      },
      "UpdateRateCardRequestModel_Request": {
        "properties": {
          "updates": {
            "$ref": "#/components/schemas/UpdateRateCardRequestModel_FieldsUpdateModel"
          }
        },
        "type": "object"
      },
      "UpdateRateCardRequestModel_FieldsUpdateModel": {
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Fields to update"
            }
          },
          "values": {
            "$ref": "#/components/schemas/UpdateRateCardRequestModel"
          }
        },
        "type": "object"
      },
      "UpdateRateCardRequestModel": {
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "description": {
            "$ref": "#/components/schemas/UpdateRateCardRequestModeldescription"
          },
          "currency": {
            "type": "string",
            "example": "afn",
            "enum": [
              "afn",
              "eur",
              "all",
              "dzd",
              "usd",
              "aoa",
              "xcd",
              "ars",
              "amd",
              "awg",
              "aud",
              "azn",
              "bsd",
              "bhd",
              "bdt",
              "bbd",
              "byn",
              "bzd",
              "xof",
              "bmd",
              "inr",
              "btn",
              "bob",
              "bov",
              "bam",
              "bwp",
              "nok",
              "brl",
              "bnd",
              "bgn",
              "bif",
              "cve",
              "khr",
              "xaf",
              "cad",
              "kyd",
              "clp",
              "clf",
              "cny",
              "cop",
              "cou",
              "kmf",
              "cdf",
              "nzd",
              "crc",
              "hrk",
              "cup",
              "cuc",
              "ang",
              "czk",
              "dkk",
              "djf",
              "dop",
              "egp",
              "svc",
              "ern",
              "szl",
              "etb",
              "fkp",
              "fjd",
              "xpf",
              "gmd",
              "gel",
              "ghs",
              "gip",
              "gtq",
              "gbp",
              "gnf",
              "gyd",
              "htg",
              "hnl",
              "hkd",
              "huf",
              "isk",
              "idr",
              "xdr",
              "irr",
              "iqd",
              "ils",
              "jmd",
              "jpy",
              "jod",
              "kzt",
              "kes",
              "kpw",
              "krw",
              "kwd",
              "kgs",
              "lak",
              "lbp",
              "lsl",
              "zar",
              "lrd",
              "lyd",
              "chf",
              "mop",
              "mkd",
              "mga",
              "mwk",
              "myr",
              "mvr",
              "mru",
              "mur",
              "xua",
              "mxn",
              "mxv",
              "mdl",
              "mnt",
              "mad",
              "mzn",
              "mmk",
              "nad",
              "npr",
              "nio",
              "ngn",
              "omr",
              "pkr",
              "pab",
              "pgk",
              "pyg",
              "pen",
              "php",
              "pln",
              "qar",
              "ron",
              "rub",
              "rwf",
              "shp",
              "wst",
              "stn",
              "sar",
              "rsd",
              "scr",
              "sll",
              "sle",
              "sgd",
              "xsu",
              "sbd",
              "sos",
              "ssp",
              "lkr",
              "sdg",
              "srd",
              "sek",
              "che",
              "chw",
              "syp",
              "twd",
              "tjs",
              "tzs",
              "thb",
              "top",
              "ttd",
              "tnd",
              "try",
              "tmt",
              "ugx",
              "uah",
              "aed",
              "usn",
              "uyu",
              "uyi",
              "uyw",
              "uzs",
              "vuv",
              "ves",
              "ved",
              "vnd",
              "yer",
              "zmw",
              "zwl",
              "xba",
              "xbb",
              "xbc",
              "xbd",
              "xts",
              "xxx",
              "xau",
              "xpd",
              "xpt",
              "xag"
            ]
          },
          "ratecardDescription": {
            "type": "string",
            "description": "ratecardDescription"
          }
        },
        "type": "object"
      },
      "UpdateRateCardRequestModeldescription": {
        "properties": {
          "billingScheme": {
            "type": "string",
            "example": "PER_UNIT",
            "enum": ["PER_UNIT", "VOLUME", "GRADUATED", "FIXED_RATE", "MINMAX"]
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateRateCardRequestModeldescriptiontiers"
            }
          },
          "isProrated": {
            "type": "boolean",
            "description": "isProrated",
            "default": false
          }
        },
        "type": "object"
      },
      "UpdateRateCardRequestModeldescriptiontiers": {
        "required": ["name", "upTo"],
        "properties": {
          "name": {
            "type": "string",
            "description": "name"
          },
          "upTo": {
            "type": "number",
            "description": "upTo"
          },
          "unitPrice": {
            "type": "number",
            "description": "unitPrice",
            "default": 0
          },
          "flatPrice": {
            "type": "number",
            "description": "flatPrice",
            "default": 0
          },
          "isPercentage": {
            "type": "boolean",
            "description": "isPercentage",
            "default": false
          },
          "repeatTier": {
            "type": "boolean",
            "description": "repeatTier",
            "default": false
          }
        },
        "type": "object"
      },
      "RateCard": {
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/RateCardData"
          }
        },
        "type": "object"
      },
      "RateCardData": {
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "ratecardDescription": {
            "type": "object"
          },
          "feeComponentId": {
            "type": "object"
          },
          "description": {
            "type": "object"
          },
          "ratecardDetail": {
            "type": "object"
          },
          "tags": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "contractId": {
            "type": "object"
          },
          "currency": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "isDefault": {
            "type": "object"
          },
          "status": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "FetchRateCardsResponseModel": {
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FetchRateCardsResponseModelData"
          }
        },
        "type": "object"
      },
      "FetchRateCardsResponseModelData": {
        "properties": {
          "tags": {
            "type": "object"
          },
          "ratecards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FetchRateCardsResponseModelDataratecards"
            }
          }
        },
        "type": "object"
      },
      "FetchRateCardsResponseModelDataratecards": {
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "ratecardDescription": {
            "type": "object"
          },
          "feeComponentId": {
            "type": "object"
          },
          "description": {
            "type": "object"
          },
          "ratecardDetail": {
            "type": "object"
          },
          "tags": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "contractId": {
            "type": "object"
          },
          "currency": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "isDefault": {
            "type": "object"
          },
          "status": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "MarkRateCardDefaultRequestModel": {
        "required": ["feeComponentId", "ratecardId"],
        "properties": {
          "feeComponentId": {
            "type": "string",
            "description": "feeComponentId"
          },
          "ratecardId": {
            "type": "string",
            "description": "ratecardId"
          }
        },
        "type": "object"
      },
      "TestRateCardRequestModel": {
        "required": ["feeComponentId", "totalUsage"],
        "properties": {
          "tags": {
            "type": "object"
          },
          "feeComponentId": {
            "type": "string",
            "description": "feeComponentId"
          },
          "totalUsage": {
            "type": "number",
            "description": "totalUsage"
          },
          "contractId": {
            "type": "string",
            "description": "contractId"
          }
        },
        "type": "object"
      },
      "TestRateCardResponseModel": {
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TestRateCardResponseModelData"
          }
        },
        "type": "object"
      },
      "TestRateCardResponseModelData": {
        "required": ["totalPrice"],
        "properties": {
          "ratecard": {
            "$ref": "#/components/schemas/TestRateCardResponseModelDataratecard"
          },
          "totalPrice": {
            "type": "number",
            "description": "totalPrice"
          }
        },
        "type": "object"
      },
      "TestRateCardResponseModelDataratecard": {
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "ratecardDescription": {
            "type": "object"
          },
          "feeComponentId": {
            "type": "object"
          },
          "description": {
            "type": "object"
          },
          "ratecardDetail": {
            "type": "object"
          },
          "tags": {
            "type": "object"
          },
          "companyId": {
            "type": "object"
          },
          "contractId": {
            "type": "object"
          },
          "currency": {
            "type": "object"
          },
          "createdBy": {
            "type": "object"
          },
          "isDefault": {
            "type": "object"
          },
          "status": {
            "type": "object"
          }
        },
        "type": "object"
      },
      "CreateContractAPIRequestModel": {
        "type": "object",
        "required": [
          "contractNumber",
          "contractTitle",
          "customerId",
          "isPreusage"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with this contract",
            "example": "cust_45678"
          },
          "contractNumber": {
            "type": "string",
            "description": "A unique reference number for this contract",
            "example": "CONTRACT-2025-001"
          },
          "contractTitle": {
            "type": "string",
            "description": "The title or name of the contract",
            "example": "Premium Subscription Plan"
          },
          "contractPeriod": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelcontractPeriod",
            "description": "The total duration of the contract, specifying the time unit and value"
          },
          "billingFrequency": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelbillingFrequency",
            "description": "How often billing should occur for this contract"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The date when the contract becomes effective",
            "example": "2025-01-01"
          },
          "virtualStartDate": {
            "type": "string",
            "format": "date",
            "description": "A calculated start date for billing purposes, used if billing time is set to beginning of period",
            "example": "2025-01-01"
          },
          "creditTermId": {
            "type": "string",
            "description": "Identifier for the credit term associated with this contract",
            "example": "CT-30-DAYS"
          },
          "poNumber": {
            "type": "string",
            "description": "Purchase order number, if applicable",
            "example": "PO-98765"
          },
          "noteInvoice": {
            "type": "string",
            "description": "Optional note to be included in the invoice",
            "example": "Please pay within 30 days"
          },
          "terms": {
            "type": "string",
            "description": "Terms and conditions associated with this contract",
            "example": "Net 30 payment terms apply"
          },
          "noteContract": {
            "type": "string",
            "description": "Optional note to be displayed on the contract",
            "example": "This contract is for the premium subscription plan"
          },
          "billingDiscounts": {
            "type": "array",
            "description": "List of discounts applicable during billing",
            "items": {
              "$ref": "#/components/schemas/CreateContractAPIRequestModelbillingDiscounts"
            }
          },
          "isPreusage": {
            "type": "boolean",
            "description": "Indicates if billing should happen at the start of the period (pre-usage)",
            "default": false
          },
          "billingTime": {
            "type": "string",
            "description": "Determines when billing is calculated: either at the beginning of the period or based on subscription start date",
            "example": "BEGINNING_OF_PERIOD",
            "enum": ["BEGINNING_OF_PERIOD", "SUBSCRIPTION_DATE"]
          },
          "billingReportLimit": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelbillingReportLimit",
            "description": "Limits applied to the billing report for this contract"
          },
          "contractLimit": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelcontractLimit",
            "description": "Optional limit on total contract value or usage"
          },
          "advanceConfig": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModeladvanceConfig",
            "description": "Configuration for advance billing or usage adjustments"
          },
          "autoRenew": {
            "type": "boolean",
            "description": "If true, the contract will automatically renew at the end of its period",
            "default": false
          },
          "renewalPeriod": {
            "$ref": "#/components/schemas/CreateContractAPIRequestModelrenewalPeriod",
            "description": "The duration for which the contract should be renewed automatically"
          }
        }
      },
      "CreateContractAPIRequestModelcontractPeriod": {
        "type": "object",
        "required": ["value"],
        "properties": {
          "unit": {
            "type": "string",
            "description": "The unit of time for the contract period",
            "example": "MONTH",
            "enum": ["DAY", "WEEK", "MONTH", "YEAR"]
          },
          "value": {
            "type": "integer",
            "description": "The duration of the contract in the specified unit",
            "example": 12
          }
        }
      },
      "CreateContractAPIRequestModelbillingFrequency": {
        "type": "object",
        "required": ["value"],
        "properties": {
          "unit": {
            "type": "string",
            "description": "The unit of time used for billing frequency",
            "example": "MONTH",
            "enum": ["DAY", "WEEK", "MONTH", "YEAR"]
          },
          "value": {
            "type": "integer",
            "description": "The number of units between each billing cycle",
            "example": 1
          }
        }
      },
      "CreateContractAPIRequestModelbillingDiscounts": {
        "type": "object",
        "required": [
          "amount",
          "percentage",
          "isPostTax",
          "isUsageBased",
          "priority",
          "isStackable"
        ],
        "properties": {
          "amount": {
            "type": "number",
[...]
