{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Valyx Documentation",
    "description": "Features provided by Valyx in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.valyx.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/billing/contract": {
      "post": {
        "description": "Creates a new billing contract",
        "parameters": [
          {
            "name": "X-Fields",
            "in": "header",
            "description": "An optional fields mask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contract creation payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractAPIRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": ["billing"]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateContractAPIRequestModel": {
        "type": "object",
        "required": [
          "company_id",
          "created_by",
          "customer_id",
          "start_date",
          "end_date",
          "billing_cycle"
        ],
        "properties": {
          "company_id": {
            "type": "string",
            "description": "The unique identifier of the company associated with this contract",
            "example": "company_12345"
          },
          "created_by": {
            "type": "string",
            "description": "The user ID of the person who created the contract",
            "example": "user_98765"
          },
          "customer_id": {
            "type": "string",
            "description": "The unique identifier of the customer for whom this contract is created",
            "example": "cust_45678"
          },
          "contract_id": {
            "type": "string",
            "description": "A unique identifier for the contract. If not provided, it will be auto-generated",
            "example": "contract_001"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "The contract start date in YYYY-MM-DD format",
            "example": "2025-01-01"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "The contract end date in YYYY-MM-DD format",
            "example": "2026-01-01"
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["monthly", "quarterly", "yearly"],
            "description": "The billing cycle for this contract",
            "example": "monthly"
          },
          "usage_cycle": {
            "type": "string",
            "enum": ["monthly", "quarterly", "yearly"],
            "description": "The usage cycle for metered billing",
            "example": "monthly"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for billing amounts (ISO 4217 format)",
            "example": "USD"
          },
          "terms": {
            "type": "string",
            "description": "Optional text describing the contractual terms",
            "example": "Net 30 payment terms apply."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional metadata for storing extra key-value information",
            "example": {
              "region": "US-East",
              "plan": "Enterprise"
            }
          }
        }
      },
      "ContractResponseModel": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "valyxSignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Valyx-Signature"
      }
    }
  }
}
